
p {
    white-space: pre;
}

.separator {
    display: block;
    width: 100%;
    height: 1px;
    border-top: 1px solid black;
}

.block-quotes {
    margin-left: 3em;
}

.codeblock {
    background-color: #cccccc;
    padding: 1em;
}